.calculator{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.678);
    width: 350px;
}
#main{
    display: grid;
    grid-template-columns: 6fr 6fr;
    justify-content: space-around;
    gap: 60px;
}
#resultBox{
    text-align: right;
    font-size: 40px;
    color: white;
    margin: 10px;
    margin-right: 50px;
}
input{
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}
button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
    background:rgba(0, 0, 0, 0.658);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.eql{
    background-color: blue;
}



#table{
    max-width: 800px;
  }  
table{
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 20px;
  }
table td {
  border: 2px solid #241d1d94;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(34, 32, 32);
}
table th {
  border: 2px solid #3b393994;
  padding: 10px;
  text-align: center;
  background-color: #0c0e0c44;
  color: white;
  font-weight: bold;  
  }